<div class="Resetpassword-container">
    <mat-card class="Resetpassword-card">
        <div class="Resetpassword-content">
            <div class="left-section">
                <img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png" alt="Google"
                    class="google-logo">
                <h1 class="title">Reset Password</h1>
                <p class="sign-in-subtitle">Create a strong password</p>
            </div>
            <div class="right-section">
                <form>
                    <div class="form-field">
                        <input formControlName="newpassword" placeholder="New Password">
                    </div>
                    <div class="form-field">
                        <input formControlName="confirmpassword" placeholder="Confirm Password">
                    </div>
                    
                    <div class="action-buttons">
                        <button mat-raised-button type="submit" class="NextButton">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </mat-card>

    <div class="footer">
        <a href="#">Help</a>
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
    </div>
</div>